#books {
   width: 1050px;
   margin: 0 auto;
}


#books img {
    border: solid 1px #ccc;
    width: 128px;
    height: 185px;
    padding: 4px;
    float: left; 
    margin: 15px 7px 10px 0px;
    -webkit-transition: margin 0.5s ease-out; 
    -moz-transition: margin 0.5s ease-out; 
    transition: margin 0.5s ease-out; 
}


#books img:hover {
    border-color: #FF9900;
    margin-top: 2px;
    cursor: pointer;
}
.shelf {
clear: left;
width: 1050px;
height: 25px;
background: #620;
margin: 0 auto;
background: -moz-linear-gradient(90deg, #620, #950 20%, #620 30%);
background: -webkit-gradient(linear, 0 100%, 0 0 , from(#620), color-stop(20%, #950), color-stop(30%, #620));
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.7);
}